* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tektur', cursive;
}

.heading {
    color: rgb(12, 2, 67);
    text-align: center;
    background: #000 (171, 196, 207);
    margin: 30px;
    border: 5px solid;
    border-radius: 25px;
    border: color(srgb red rgb(67, 113, 67) blue);
    font-size: 50px;
}

.header {
    color: skyblue;
    text-align: center;
    background: rgb(22, 180, 91);
    padding-top: 25px;
    /*margin-top: 10px;*/

}

.header {
    color: rgb(15, 1, 20);
    padding: 50px;
    margin: 45px;
    border: 5px solid rgba(18, 1, 24, 0.345);
    border-radius: 95px;
    width: 1000px;

    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

p {
    line-height: 1.9;
    font-size: 25px;
    font-weight: bold;
    color: rgb(8, 3, 45);
    height: 30px;
}